In [1]:
import pandas as pd

In [5]:
df_inter = pd.read_csv('.\\models\\data\\mind_small_dev\\mind_small_dev.inter', '\t')

In [6]:
df_inter['label:float']

         user_id:token  item_id:token  label:float  timestamp:float
0                80234          28682            0       1573861070
1                80234          48740            0       1573861070
2                80234          31958            1       1573861070
3                80234          34130            0       1573861070
4                80234           6916            0       1573861070
...                ...            ...          ...              ...
2740993          68182          48740            0       1573815274
2740994          68182          55237            0       1573815274
2740995          68182          31958            0       1573815274
2740996          68182          29091            0       1573815274
2740997          68182          24802            0       1573815274

[2740998 rows x 4 columns]

In [20]:
df_inter_sorted = df_inter.sort_values(['user_id:token', 'label:float'], ascending=[False, False])

In [21]:
df_inter_sorted.to_csv('.\\models\\data\\mind_small_dev\\mind_small_dev.inter.sorted', '\t', index=False)

In [17]:
df_user = pd.read_csv('.\\models\\data\\mind_small_dev\\mind_small_dev.user', '\t')

In [25]:
df_user_sorted = df_user.sort_values(['user_id:token'], ascending=[False]).drop_duplicates()

In [27]:
df_user_sorted.to_csv('.\\models\\data\\mind_small_dev\\mind_small_dev.user', '\t', index=False)